body {
    background-image: url(../images/Picture3.png);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
    font-size: x-large
}
.black_text{
    color: #111;
    justify-content: flex-end;
}
.title{
    font-size: 44px;
    font-weight: bold;
}
.text{
    margin-top: 20px;
    margin-bottom: 20px
}
ul {
    height: 48px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#streamline_logo {
    display: flex;
    height: 45px;
    width: 45px
}
#LP-link{
    color:  transparent;
    font-size: larger
}
.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline {
    font-size: 66px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
}

li a:hover {
    background-color: #111;
}
#spotify-logo{
    font-size: 16px;
}
#spotify-logo img {
    width: 50px;
}

#firstline {
    margin-left: -41px; 
}

#container {
margin: 50px;
margin-left: 742px;
}
.menu{
    color: #111
}

footer {
    width: 100% !important;
    position: absolute !important;
    bottom: 0px !important;
}

#spotify-logo {
    padding: 25px;
    }

a {
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

.search-text {
    padding-bottom: 60px;
}

footer {
    padding: 60px 0px;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding-top: 50px;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #b1aca1;
    padding: 20px;
}

footer ul li a:hover {
    color: #7dabdb;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #FFF;
    padding: 10px;
}

.footer-top .col-lg-2:hover .fa,
.footer-top .col-lg-2:hover a {
    color: #7dabdb;
    text-decoration: none;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}

#top {
    color: #fff;
    background: #7dabdb;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    right: 30px;
    position: fixed;
    border-radius: 3px;
    text-align: center;
    bottom: 350px;
}
